spring:
  application:
    name: eureka-server

server:
  port: 8761

eureka:
  instance:
    hostname: ${EUREKA_HOSTNAME}
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10

  client:
    fetch-registry: false
    register-with-eureka: false
    healthcheck:
      enabled: true
    service-url:
      defaultZone: https://${EUREKA_HOSTNAME}/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
