html, body, #root {
    height: 100%;
    margin: 0;
  }

html { font-size: clamp(14px, calc(12.667px + 0.4167vw), 18px);}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
